<%= form_for(@expression) do |f| %>
  <% if @expression.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expression.errors.count, "error") %> prohibited this expression from being saved:</h2>

      <ul>
      <% @expression.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	<p>
      <%= f.label :expression %><br>
      <%= f.text_field :expression, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :explanation %><br>
      <%= f.text_area :explanation, class: 'form-control' %>
    </p>
  </div>
  <div class="actions">
  	<p>
      <%= f.submit class: 'btn btn-primary' %>
    </p>
  </div>
<% end %>
